<div *ngIf="curPropListings[0]">
  <div class="container-header">
    <h3 class="text-header">Property Details</h3>
    <button (click)="toggleFavorite()" class="btn-header">+</button>
  </div>

  <div>
    <p>{{curPropListings[0].price_formatted}}</p>
    <span>{{curPropListings[0].title}}</span>
    <img class="img-obj-details" src="{{curPropListings[0].img_url}}">
    <p>{{curPropListings[0].bedroom_number}} bed, {{curPropListings[0].bathroom_number}} bathrooms</p>
    <p>{{curPropListings[0].summary}}</p>
  </div>
</div>
